.nfs*

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build
dist
wheels

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
model_ts*.txt

# onnx models
*.onnx

# ipython/jupyter notebooks
**/.ipynb_checkpoints

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs
.cursor

# demo 
**/node_modules
yarn.lock

.venv
test
cache
.cache
logs
models
assets
target
experimental/data
!experimental/data/origin_data/pipeline.py
experimental/pre_trained
experimental/results
experimental/metrics
experimental/scripts/**/checkpoints
experimental/scripts/**/example*.json
experimental/scripts/test*.py
experimental/scripts/test
test*.py
api_keys.json
*.ps1
src/course_graph/database/faiss_index
src/course_graph/database/*.db
src/course_graph/database/*.db.lock
libreoffice_convert.log
.cursorrules
.ruff_cache

train.sh