.nfs*

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build
dist
wheels

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
model_ts*.txt

# onnx models
*.onnx

# ipython/jupyter notebooks
**/.ipynb_checkpoints

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs
.cursor

# demo 
**/node_modules
yarn.lock

.venv

test
cache
.cache
logs
models
assets
target
experimental/data/**/*.json
experimental/data/**/*.txt
experimental/**/pre_trained
experimental/**/checkpoints
experimental/**/example*.json
!experimental/data/example/*.json
api_keys.json
*.ps1
.ipynb_checkpoints
src/course_graph/database/faiss_index
libreoffice_convert.log
.cursorrules