__pycache__
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/


.git/
.gitignore
.idea/
.vscode/
.cache/
cache/
test/
logs/


**/node_modules/
yarn.lock


*.pth
*.pkl
*.npy
*.onnx
model/
model_ts*.txt


rust/target/

*.swn
*.swo
*.swp
*~
.nfs*
.ipynb_checkpoints/
libreoffice_convert.log

src/course_graph/database/faiss_index/ 